# Ignore the build directory
build/

# Ignore the VSCode settings
.vscode/

# Ignore generated intermediate outputs
Results/

# Ignore initial instructions README.md file
INSTRUCTIONS.md

# Ignore model weights and logs
weights/
runs/

**/__pycache__/